@import "tailwindcss";

html,
body,
#root{
  width:100%;
  min-height:100%;
}

body{
  background:#050505;
  color:white;
  overflow-x:hidden;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#333;
  border-radius:20px;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
body {
  cursor: none;
}

.light-card {
  --x: 50%;
  --y: 50%;
}

.light-overlay {
  position: absolute;
  inset: 0;

  background: radial-gradient(
    300px circle at var(--x) var(--y),
    rgba(56, 189, 248, 0.35),
    transparent 60%
  );

  opacity: 0;
  transition: opacity 0.3s ease;
}

.light-card:hover .light-overlay {
  opacity: 1;
}

.light-card:hover {
  transform: translateY(-8px);
  border-color: rgba(56, 189, 248, 0.4);

  box-shadow:
    0 20px 60px rgba(56, 189, 248, 0.15);
}